.Dashboard {
  background: #02a951;
  padding: 10px;
  margin: 20px;
}

.card {
  margin-top: 5px;
}

button {
  margin-right: 5px;
}

span {
  margin-right: 5px;
}

.date-input {
  max-width: 300px;
}

.save-date {
  margin-top: 5px;
}

.back-link {
  margin-bottom: 5px;
}

.update-complete {
  text-align: center;
}

.update-soup {
  margin-top: 5px;
}
