/* creme: #f5f0da */
/* dark green: #02a951 */
/* light green: #9fce6a */

body {
  background: #f5f0da;
}

h1 {
  font-size: 4em;
  color: #02a951;
  line-height: 0.75em;
  margin-bottom: 20px;
}

h4 {
  color: #02a951;
  font-size: 2em;
}

h6 {
  color: #02a951;
}

.sub-title {
  color: #02a951;
  margin-top: -5px;
  font-size: 1.5em;
}

.secret {
  text-align: right;
}
